<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamproject.aaaaan_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@style/AppTheme">
        <activity android:name=".calendar.CreateEventActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".calendar.SelectDateAndTimeActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.JoinActivity" />
        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".util.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <!-- crop activity -->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.teamproject.aaaaan_2"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>